@model ForumProject.Models.Post.PostIndexModel;

<h1>@Model.Title</h1>
<div>
    Author : @Model.AuthorName (@Model.AuthorRating)
    Created : @Model.CreatedAt
</div>

<div>
    @Model.Content
</div>

@if(@Model.Replies.Any()){
    @foreach(var reply in Model.Replies){
        <div>
            <div>
                Reply Author: @reply.AuthorName
                Reply Created : @reply.CreatedAt
            </div>
            <div>
                Reply : @reply.Content
            </div>
        </div>
    }

}