@model ForumTopicModel

<div class="container bodyContent">
    <div class="row sectionHeader mb-2">
        <div class="fw-bold fs-3"> 
            <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl);"></div>
            <span style="height: 100%; color: white;">Welcome to the @Model.Forum.Name Forum</span>
            @if(User.Identity.IsAuthenticated){
            <span class="btn btn-primary">
                <a asp-controller="Post" asp-action="Create" class="text-white fw-bold" asp-route-id="@Model.Forum.Id">Create Post</a>
            </span class="btn btn-primary">
        }
        </div>

        <form asp-asp-controller="Forum" asp-action="Search" method="Post">
            <div class="searchForm">
                <input type="hidden" asp-for="@Model.Forum.Id" name="id">
                <input type="text" placeholder="Search" asp-for="SearchQuery" onfocus="clearSearchBar(this)" >
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="row postContent">
        @if(Model.Posts.Any()){
            <table class="table table-hover table-bordered" id="forumPostsTable">
                <tbody>
                    <p class="text-end">Reply Count</p>
                    @foreach(var post in Model.Posts){
                        <tr>
                            <td>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-action="Index" asp-controller="Post" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div class="postAuthorData">
                                        <div class="d-flex flex-column">
                                            <span class="postAuthor">
                                                Author :
                                                <a asp-action="Detail" asp-controller="Profile" asp-route-id="@post.AuthorId">  @post.AuthorName</a>
                                            </span>
                                            <span class="authorRating"> Rating : @post.AuthorRating</span>
                                            <span class="postDate"> Date : @post.DatePosted.ToString("dd.MM.yyyy HH:mm")</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="postReplyCount">
                                    @post.ReplyCount
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        } else{
            <div class="noPosts">
                No posts yet.
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        function clearSearchBar(target){
            target.value = "";
        }
    </script>
}