@model ForumProject.Models.Home.HomeIndexModel;

<div class="container body-content">
    <div class="row mb-3">
        <div class="col-md-6 px-0">
            <h2></h2>
            <div class="">
                <form asp-action="Search" method="post">
                    <input type="text" class="homeSearchBar" asp-for="SearchQuery" placeholder="Search">
                </form>
            </div>
         
        </div>
        <div class="col-md-6 emptyPlaceHolder"></div>
    </div>
    <div class="row latestContent bg-light p-16">
        <h3>Latest Posts</h3>
        <table class="table table-hover">
            @foreach(var listing in Model.LatestPosts){
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@listing.Forum.ImageUrl)"></div>
                        <div class="title"><a asp-action="Index" asp-controller="Post" asp-route-id="@listing.Id">@listing.Title</a></div>
                        <div class="replyCount">
                            @if(listing.ReplyCount == 0) {
                                <span>No Replies</span>
                            } else {
                                @if(listing.ReplyCount == 1){
                                    <span>@listing.ReplyCount reply</span>
                                } else {
                                    <span>@listing.ReplyCount replies</span>
                                }
                            }
                            <span class="user">
                                <a asp-action="Detail" asp-controller="Profile" asp-route-id="@listing.AuthorId">@listing.AuthorName</a>
                            </span>
                        </div>

                    </td>

                </tr>
            }
        </table>
    </div>
</div>